aiohttp==3.10.10
defusedxml==0.7.1
fastapi==0.115.3
freetype_py==2.5.1
ipython==8.12.3
new==1.0
numpy==2.1.2
olefile==0.47
packaging==24.1
paho_mqtt==2.1.0
pyaes==1.6.1
Pygments==2.18.0
pylibdmtx==0.1.10
Pyphen==0.16.0
PyQt6==6.7.1
PySide6==6.8.0.2
python-dotenv==1.0.1
Requests==2.32.3
rlextra==0.0.2
rlPyCairo==0.3.0
sets==0.3.2
twilio==9.3.5
typing_extensions==4.12.2
uvicorn==0.32.0
websockets==13.1
